<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="PetaPocoSqlConn" connectionString="Data Source=10.10.21.74;Database=nhibernate_Test;UID=sa;PWD=@hzq151510;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
</configuration>